.LineUp {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

@media (min-width: 700px) {
    .LineUp {
        max-width: 90%;
    }
}

@media (min-width: 900px) {
    .LineUp {
        max-width: 80%;
    }
}

@media (min-width: 1200px) {
    .LineUp {
        max-width: 70%;
    }
}