.LineUpElement {
    position: relative;
    width: 50%;
}

.LineUpElementImg {
    width: 100%;
    height: 100%;
    min-height: 10em;
}

.LineUpElementOverlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    transition: opacity 0.5s;
}

.LineUpElementOverlay:hover {
    cursor: pointer;
    opacity: 0.2;
}

.LineUpElementInfos {
    padding: 0.3em;
    text-align: center;
    position: absolute;
    min-width: 40%;
    /* border: 2px solid black; */
    bottom: 7%;
    left: 10%;
    background-color: white;
}

.ArtistName {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.ArtistStyle {
    margin: 0;
}

@media (min-width: 500px) {
    .LineUpElementImg {
        min-height: 18em;
    }
}

@media (min-width: 700px) {
    .LineUpElementImg {
        min-height: 24em;
    }
}

@media (min-width: 1000px) {
    .LineUpElement {
        width: 50%;
    }

    .LineUpElementImg {
        min-height: 28em;
     }
}

@media (min-width: 1200px) {
    .LineUpElement {
        width: 33.3333333%;
    }

    .LineUpElementImg {
        min-height: 18em; 
    }
}