.PlaylistHeader {
    background-color: black;
    font-weight: bold;
    color: white;
    padding: 1em 0;
    margin: 0;
    text-align: center;
}


.YoutubeVideo {
    background-color: black;
}



