.SideBar {
    min-height: 100vh;
    width: 70%;
    background-color: white;
    border-right: 2px solid #aaa;
    z-index: 400;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: -70%;
    transition: transform 0.5s ease-in-out;
}

.Open {
    transform: translateX(100%);
}

.Close {
    transform: translateX(0);
}

.SideBarItems {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.SideBarItem {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    text-transform: uppercase;
    margin-top: 0.5em;
    border-bottom: 2px solid #aaa;
    padding: 2em 0;
    border-right: 5px solid purple;
}

.SideBarItem a {
    text-decoration: none;
    color: inherit;
}