.Footer {
    min-height: 20vh;
    background-color: black;
    color: white; 
}

.FooterLogo {
    max-width: 30%;
    display: block;
    margin: auto;
}

.FooterLinks {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 1em;
}

.FooterLinks a {
    text-decoration: none;
    color: inherit;
    padding: 0 0.5em;
}

.FooterLinks a:nth-child(1),  .FooterLinks a:nth-child(2) {
    border-right: 1px solid white;
}
